.albumCover{
			background: url("https://upload.wikimedia.org/wikipedia/en/9/93/Pharmacy_by_Galantis.jpg") no-repeat;
			width: Auto;
			height: 600px;
			background-position: center;
			
}

body {
	text-align: center;
}


td {
	font-style: italic;
}

ul.leftAlign {
	text-align: left;
	padding-left: 25%;
}

a:link, a:visited, a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: Gray;
}

